#main-footer {
    background-color: #222;
    color: #fff;
    margin-top: 72px;
    padding: 48px 0
}

#main-footer a {
    color: #fff
}

#main-footer a:hover {
    color: rgba(255, 255, 255, 0.6)
}

#main-footer .footer_menu_block {
    font-size: 12px
}

#main-footer .footer_menu_block > h3 {
    font-weight: bold;
    text-align: left;
}

#main-footer .footer_menu_block.contact_block .footer_menu_list li:not(:first-child) {
    margin-top: 10px
}

#main-footer .footer_menu_block.contact_block .footer_menu_list li:first-child {
    padding-top: 5px
}

#main-footer .footer_menu_block .footer_menu_list {
    position: relative
}

#main-footer .footer_menu_block .footer_menu_list a:not(:first-child) {
    border-bottom: 1px dotted transparent
}

#main-footer .footer_menu_block .footer_menu_list a:not(:first-child):hover {
    border-color: rgba(255, 255, 255, 0.6)
}

#main-footer .footer_menu_block .footer_menu_list a:first-child {
    display: block;
    padding: 5px 0;
    border-left: 0px solid rgba(255, 255, 255, 0)
}

#main-footer .footer_menu_block .footer_menu_list a:first-child:hover {
    padding: 5px 10px;
    padding-right: 0;
    background-color: rgba(255, 255, 255, 0.05);
    border-left: 2px solid rgba(255, 255, 255, 0.1)
}
