a {
    color: #03A9F4;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5 {
    font-family: "UTM_Avo", "Helvetica Neue", "FontAwesome", sans-serif;


}
body.home:not(.over_banner) .site-header {
    padding: 40px 72px;
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
}
body.home:not(.over_banner) .site-header .header_menu a {
    color: #fff;
}
body.home:not(.over_banner) .site-header .main_logo img, body.home:not(.over_banner) .site-header .main_logo svg {
    max-height: 70px;
    max-width: 170px;
}
body.home:not(.over_banner) .site-header .phone_item {
    color: #fff;
}
body:not(.home) #content {
    padding-top: 64px;
    min-height: calc(100vh - 72px);
    min-height: calc((100vh - 72px) - 310px)
}
body.home:not(.over_banner) .site-header .header_menu ul.sub-menu {
    background: rgba(81, 81, 81, 0.2);
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
.hero_slider_content {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden
}

.hero_slider_content .single_slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center
}

.hero_slider_content .single_slider:after {
    content: "";
    position: absolute;
    background: rgba(81, 81, 81, 0.2);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3) 0%, transparent 50%);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3) 0%, transparent 50%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0%, transparent 50%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.hero_slider_content .single_slider img {
    width: 100%;
    height: 100%;
    opacity: 0
}

.page_builder_inner_content > .vc_row {
    position: relative;
    overflow: hidden
}

.page_builder_inner_content > .vc_row.main_categories {
    padding-top: 15px
}

.page_builder_inner_content > .vc_row.main_categories .single_cat {
    position: relative;
    width: calc(59% - 15px);
    height: 36vw;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center
}

.page_builder_inner_content > .vc_row.main_categories .single_cat .single_clicker {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.8);
    z-index: 0;
    opacity: 0
}

.page_builder_inner_content > .vc_row.main_categories .single_cat .single_clicker:after {
    content: "";
    width: 50px;
    height: 10px;
    position: absolute;
    bottom: 48px;
    left: 48px;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translate3d(-32px, 0, 0);
    transform: translate3d(-32px, 0, 0)
}

.page_builder_inner_content > .vc_row.main_categories .single_cat:hover .single_clicker {
    opacity: 1
}

.page_builder_inner_content > .vc_row.main_categories .single_cat:hover .single_clicker:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: 0.6s all ease;
}

.page_builder_inner_content > .vc_row.main_categories .single_cat .single_cat_info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 48px;
    opacity: 0;
    z-index: 1;
    -webkit-transform: translate3d(0, 24px, 0);
    transform: translate3d(0, 24px, 0);
    pointer-events: none
}

.page_builder_inner_content > .vc_row.main_categories .single_cat:hover .single_cat_info {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.page_builder_inner_content > .vc_row.main_categories .single_cat .single_cat_title {
    font-weight: normal;
    font-size: 24px
}

.page_builder_inner_content > .vc_row.main_categories .single_cat .single_cat_desc {
    max-width: 470px
}

.page_builder_inner_content > .vc_row.main_categories .single_cat .single_cat_desc a {
    color: #fff
}

.page_builder_inner_content > .vc_row.main_categories .single_cat:nth-of-type(2), .page_builder_inner_content > .vc_row.main_categories .single_cat:nth-of-type(4), .page_builder_inner_content > .vc_row.main_categories .single_cat:nth-of-type(5) {
    width: 41%;
    margin-right: 0;
    float: right
}

.page_builder_inner_content > .vc_row.main_categories .single_cat:nth-of-type(2) {
    height: 49vw
}

.page_builder_inner_content > .vc_row.main_categories .single_cat:nth-of-type(4) {
    height: 23vw
}

.page_builder_inner_content > .vc_row.main_categories .single_cat:nth-of-type(5) {
    float: left;
    height: 49vw;
    margin-right: 15px
}

.page_builder_inner_content > .vc_row.main_categories .single_cat:nth-of-type(6), .page_builder_inner_content > .vc_row.main_categories .single_cat:nth-of-type(7) {
    float: right;
    margin-right: 0;
    height: calc(24.5vw - 7.5px)
}

.featured_portfolio, .home_testimonial {
    margin-top: 15px;
    text-align: center
}

.featured_portfolio .section_subtitle, .featured_portfolio .section_title, .home_testimonial .section_subtitle, .home_testimonial .section_title {
    text-align: center
}

.featured_portfolio .section_subtitle, .home_testimonial .section_subtitle {
    margin-bottom: 0;
    line-height: 1em
}

.featured_portfolio .section_title, .home_testimonial .section_title {
    font-size: 52px;
    line-height: 1.2em
}

.more_link {
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    line-height: 2;
    display: inline-block
}

.more_link:hover {
    border-bottom: 1px solid
}

.home_testimonial_list {
    margin-bottom: 32px;
    font-size: 14px
}

.home_testimonial_list .single_testimonial_name {
    margin-bottom: 4px
}

.home_testimonial_list .single_testimonial_address {
    font-size: 12px
}

.home_testimonial_list .single_testimonial_vote {
    position: relative;
    line-height: 2;
    margin: 6px 0
}

.home_testimonial_list .single_testimonial_vote:before {
    content: "★★★★★";
    color: #F8C51C;
    letter-spacing: 4px
}

.home_testimonial_list p.single_testimonial_content {
    font-family: Georgia, serif;
    font-style: italic;
    line-height: 2;
    padding: 0 16px
}

.featured_portfolio {
    margin-top: 30px
}

.featured_portfolio_controller {
    position: relative
}

.featured_portfolio_controller .featured_portfolio_pag {
    position: absolute;
    left: 0;
    padding: 0 15px
}

.featured_portfolio_controller .featured_portfolio_pag a {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #222;
    margin-right: 12px;
    position: relative
}

.featured_portfolio_controller .featured_portfolio_pag a.active {
    background-color: #222;
    box-shadow: 0 0 0 1px #222;
    pointer-events: none
}

.featured_portfolio_controller .featured_portfolio_pag a:hover {
    background-color: rgba(0, 0, 0, 0.3)
}

.featured_portfolio_controller .featured_portfolio_pag a:before {
    content: "";
    position: absolute;
    width: 300%;
    height: 300%;
    top: -100%;
    left: -100%
}

.featured_portfolio_controller .slider_btn {
    position: absolute;
    width: 24px;
    height: 11px;
    background-image: url("../img/svg0.svg");
    right: 15px;
    bottom: 0;
    transform: translate3d(0, -50%, 0);
    opacity: 0.3
}

.featured_portfolio_controller .slider_btn:hover {
    opacity: 1
}

.featured_portfolio_controller .slider_btn:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 300%;
    top: -100%;
    left: -50%
}

.featured_portfolio_controller .slider_btn.prev {
    -webkit-transform: translate3d(0, -50%, 0) rotateY(180deg);
    transform: translate3d(0, -50%, 0) rotateY(180deg);
    right: 64px
}

.featured_portfolio_list {
    position: relative;
    width: 3630px;
    padding-left: 15px;
    margin-bottom: 32px;
    transition: 0.6s all ease
}

.featured_portfolio_list[display="1"] .single_featured_portfolio:first-of-type, .featured_portfolio_list[display="1"] .single_featured_portfolio:nth-of-type(2), .featured_portfolio_list[display="1"] .single_featured_portfolio:nth-of-type(3) {
    opacity: 1;
    pointer-events: all
}

.featured_portfolio_list[display="2"] {
    -webkit-transform: translate3d(calc(-33.3333% + 10px), 0, 0);
    transform: translate3d(calc(-33.3333% + 10px), 0, 0)
}

.featured_portfolio_list[display="2"] .single_featured_portfolio:nth-of-type(4), .featured_portfolio_list[display="2"] .single_featured_portfolio:nth-of-type(5), .featured_portfolio_list[display="2"] .single_featured_portfolio:nth-of-type(6) {
    opacity: 1;
    pointer-events: all
}

.featured_portfolio_list[display="3"] {
    -webkit-transform: translate3d(calc(-66.66667% + 20px), 0, 0);
    transform: translate3d(calc(-66.66667% + 20px), 0, 0)
}
.featured_portfolio_list[display="3"] .single_featured_portfolio:nth-of-type(7), .featured_portfolio_list[display="3"] .single_featured_portfolio:nth-of-type(8), .featured_portfolio_list[display="3"] .single_featured_portfolio:nth-of-type(9) {
    opacity: 1;
    pointer-events: all
}

.featured_portfolio_list .single_featured_portfolio {
    width: 370px;
    float: left;
    margin-right: 30px;
    opacity: 0.2;
    transition: 0.3s all ease;
    pointer-events: none
}

.featured_portfolio_list .single_featured_portfolio:hover {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03)
}

.featured_portfolio_list .single_featured_portfolio:hover .home_portfolio_link {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02)
}

.featured_portfolio_list .single_featured_portfolio:hover .featured_portfolio_title a {
    border-bottom: 1px solid #ddd
}

.featured_portfolio_list .single_featured_portfolio .home_portfolio_link {
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: block;
    transition: 0.3s all ease
}

.featured_portfolio_list .single_featured_portfolio .featured_portfolio_title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 0;
    margin-bottom: 0;
    margin-top: 6px;
    line-height: 1.6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.featured_portfolio_list .single_featured_portfolio .featured_portfolio_title a {
    border-bottom: 1px solid transparent;
    display: inline-block
}

.featured_portfolio_list .single_featured_portfolio .featured_portfolio_date {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5)
}
#content .wpb_text_column :last-child{
    margin-bottom: 0;
}
.vc_custom_1502681479828 {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}
.featured_portfolio, .home_testimonial {
    margin-top: 15px;
    text-align: center
}

.featured_portfolio .section_subtitle, .featured_portfolio .section_title, .home_testimonial .section_subtitle, .home_testimonial .section_title {
    text-align: center
}

.featured_portfolio .section_subtitle, .home_testimonial .section_subtitle {
    margin-bottom: 0;
    line-height: 1em
}

.featured_portfolio .section_title, .home_testimonial .section_title {
    font-size: 52px;
    line-height: 1.2em
}

.more_link {
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    line-height: 2;
    display: inline-block
}

.more_link:hover {
    border-bottom: 1px solid
}

.home_testimonial_list {
    margin-bottom: 32px;
    font-size: 14px
}

.home_testimonial_list .single_testimonial_name {
    margin-bottom: 4px
}

.home_testimonial_list .single_testimonial_address {
    font-size: 12px
}

.home_testimonial_list .single_testimonial_vote {
    position: relative;
    line-height: 2;
    margin: 6px 0
}
.featured_portfolio_controller {
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
