textarea:focus, input:focus{
    outline: none;
}
a:hover{
    text-decoration: none;
}
ul li{
    list-style: none;
}

.site-header {
    position: fixed;
    padding: 15px 50px;
    width: 100%;
    margin: 0;
    background-color: #FFF;
    box-shadow: 0 0 48px rgba(0, 0, 0, 0.1);
    z-index: 4;
    white-space: nowrap
}

.site-header .insert-page > .vc_row {
    margin-left: -15px
}


.site-header .main_logo {
    display: inline-block
}
.site-header .logo_header{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.site-header .main_logo img, .site-header .main_logo svg {
    max-height: 48px;
    max-width: 128px
}

.site-header .main_logo path {
    fill: #222
}

.site-header .header_menu {
    position: relative;
    text-align: center;
    padding: 10px 0
}

.site-header .header_menu li {
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    position: relative
}

.site-header .header_menu li:hover ul.sub-menu {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.site-header .header_menu li ul.sub-menu {
    position: absolute;
    white-space: nowrap;
    background-color: #222;
    padding: 10px 0;
    top: calc(100% + 6px);
    left: -5px;
    text-align: left;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translate3d(0, 16px, 0);
    transform: translate3d(0, 16px, 0)
}

.site-header .header_menu li ul.sub-menu:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
    top: -6px
}

.site-header .header_menu li ul.sub-menu li {
    display: block;
    line-height: 36px
}

.site-header .header_menu li ul.sub-menu li a {
    color: #888;
    display: block;
    padding: 0 20px
}

.site-header .header_menu li ul.sub-menu li a:after {
    display: none
}

.site-header .header_menu li ul.sub-menu li a:hover {
    background-color: #111;
    color: #fff !important
}

.site-header .header_menu a {
    text-transform: uppercase;
    color: #222;
    padding: 0 12px;
    display: inline-block;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    position: relative
}

.site-header .header_menu a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.4);
    top: calc(100% + 6px);
    left: 15px
}

.site-header .header_menu a:hover:after {
    width: calc(100% - 30px)
}

.site-header .phone_item {
    font-size: 10px;
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
    vertical-align: top;
    border-bottom: 1px dotted transparent
}

.site-header .phone_item:hover {
    border-color: #222
}

.site-header .phone_item + .phone_item {
    margin-left: 20px
}

.site-header .col-sm-3:last-child {
    text-align: right;
    height: 50px
}

.site-header .vc_col-sm-3:last-child .vc_row-fluid:last-child {
    height: 16px
}

.site-header .vc_col-sm-3:last-child .social_item {
    margin-left: 11px;
    margin-bottom: 4px;
    mix-blend-mode: difference
}

.site-header .vc_col-sm-3:last-child .social_item:first-child {
    margin-left: 0
}

.site-header .vc_col-sm-3:last-child .vc_row.wpb_row.vc_row-fluid .wpb_column.vc_column_container {
    float: none;
    display: inline-block;
    width: auto;
    vertical-align: top
}

.header_search_commerce_widgets {
    display: inline-block;
    vertical-align: top;
}

.compose_search_form {
    position: absolute;
    top: 10px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/icon_search.svg");
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    z-index: 1;
}



.wpb_wrapper form {
    min-width: 280px;
    width: 100%;
    padding: 4px;
    border-radius: 25px;
    border: 1px solid #222;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.wpb_wrapper input{
    width: 85%;
    border: none;
    background: transparent;
}

.form_search{
    float: right;
}

@media screen and (max-width: 1200px) {
    body.home:not(.over_banner) .site-header {
        padding: 48px 56px
    }

    body.home:not(.over_banner) .site-header .header_menu {
        padding: 0;
        padding-top: 90px
    }

    body.home:not(.over_banner) .site-header .header_menu a {
        color: #222
    }

    body.home:not(.over_banner) .site-header .vc_col-sm-3:last-child {
        right: 30px
    }

    body.home:not(.over_banner) .site-header .nav_toggler {
        top: 6px;
        left: 0
    }

    body.home:not(.over_banner) .site-header .nav_toggler span, body.home:not(.over_banner) .site-header .nav_toggler span:after, body.home:not(.over_banner) .site-header .nav_toggler span:before {
        background-color: #FFF
    }

    body.home:not(.over_banner) .site-header .main-navigation.header_menu {
        padding-top: 128px
    }

    body.home:not(.over_banner).toggle_nav .nav_toggler {
        left: -26px;
        top: 6px
    }

    body.home:not(.over_banner).toggle_nav .nav_toggler span {
        background-color: transparent
    }

    body.home:not(.over_banner).toggle_nav .nav_toggler span:after, body.home:not(.over_banner).toggle_nav .nav_toggler span:before {
        background-color: #222;
        margin-top: 0;
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
        transform: translate3d(-50%, -50%, 0) rotate(45deg)
    }

    body.home:not(.over_banner).toggle_nav .nav_toggler span:before {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        transform: translate3d(-50%, -50%, 0) rotate(-45deg)
    }

    .site-header {
        height: 80px;
        padding: 15px
    }

    .site-header .vc_col-sm-3:first-child {
        position: absolute;
        text-align: center;
        left: 50%;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0)
    }

    .site-header .vc_col-sm-3:last-child {
        position: absolute;
        right: 0;
        width: 320px
    }

    .site-header .main-navigation.header_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 320px;
        background-color: #fff;
        height: 100vh;
        text-align: left;
        padding-top: 90px;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        z-index: 2;
        transition: 0.3s all ease
    }

    .site-header .main-navigation.header_menu:after {
        content: "";
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        pointer-events: none;
        transition: 0.3s all ease
    }

    .site-header .main-navigation.header_menu li {
        display: block;
        padding: 2px 0
    }

    .site-header .main-navigation.header_menu a {
        display: block;
        font-size: 14px;
        line-height: 32px;
        padding: 0 30px
    }

    .site-header .main-navigation.header_menu a:after {
        display: none
    }

    .nav_toggler {
        position: absolute;
        width: 48px;
        height: 48px;
        z-index: 10;
        top: 0;
        left: 15px
    }

    .nav_toggler span, .nav_toggler span:after, .nav_toggler span:before {
        content: "";
        width: 20px;
        height: 2px;
        background-color: #222;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        transition: 0.2s all ease
    }

    .nav_toggler span:before {
        margin-top: -6px
    }

    .nav_toggler span:after {
        margin-top: 6px
    }

    .toggle_nav .site-header .main-navigation.header_menu {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    .toggle_nav .site-header .main-navigation.header_menu:after {
        opacity: 1
    }

    .toggle_nav .nav_toggler span {
        background-color: transparent
    }

    .toggle_nav .nav_toggler span:after, .toggle_nav .nav_toggler span:before {
        margin-top: 0;
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
        transform: translate3d(-50%, -50%, 0) rotate(45deg)
    }

    .toggle_nav .nav_toggler span:before {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        transform: translate3d(-50%, -50%, 0) rotate(-45deg)
    }

    .featured_portfolio_list {
        width: 2226px;
        padding-left: 12px
    }

    .featured_portfolio_list[display="2"] {
        -webkit-transform: translate3d(calc(-33.3333% + 5px), 0, 0);
        transform: translate3d(calc(-33.3333% + 5px), 0, 0)
    }

    .featured_portfolio_list[display="3"] {
        -webkit-transform: translate3d(calc(-66.66667% + 11px), 0, 0);
        transform: translate3d(calc(-66.66667% + 11px), 0, 0)
    }

    .featured_portfolio_list .single_featured_portfolio {
        width: 222px;
        margin-right: 24px
    }

    .featured_portfolio_list .single_featured_portfolio .home_portfolio_link {
        height: 300px
    }

    .featured_portfolio_list .single_featured_portfolio .featured_portfolio_title {
        font-size: 12px;
        letter-spacing: 0;
        padding-bottom: 0
    }

    .home_testimonial_list p.single_testimonial_content {
        font-size: 12px;
        padding: 0;
        line-height: 1.6
    }

    .page_builder_inner_content > .vc_row.main_categories .single_cat .single_cat_info {
        padding: 32px
    }

    .page_builder_inner_content > .vc_row.main_categories .single_cat .single_cat_info .single_cat_title {
        font-size: 22px;
        margin-bottom: 0.75em
    }

    .page_builder_inner_content > .vc_row.main_categories .single_cat .single_cat_info .single_cat_desc {
        font-size: 14px
    }

    .page_builder_inner_content > .vc_row.main_categories .single_cat .single_clicker:after {
        left: 32px;
        bottom: 36px
    }

    .featured_portfolio .section_title, .home_testimonial .section_title {
        font-size: 36px
    }

    #main-footer .footer_menu_block .footer_menu_list {
        font-size: 10px
    }

}

@media screen and (max-width: 1023px) and (orientation: portrait) {
    body.home:not(.over_banner) .site-header .vc_col-sm-3:last-child .vc_row.vc_row-fluid:first-child {
        margin-top: 18px;
        margin-right: -4px
    }


    .page_builder_inner_content > .vc_row.main_categories .single_cat .single_cat_info {
        padding: 20px;
        padding-top: 16px
    }

    .page_builder_inner_content > .vc_row.main_categories .single_cat .single_cat_info .single_cat_title {
        font-size: 20px;
        margin-bottom: 0.5em
    }

    .page_builder_inner_content > .vc_row.main_categories .single_cat .single_cat_info .single_cat_desc {
        font-size: 12px
    }

    .page_builder_inner_content > .vc_row.main_categories .single_cat .single_clicker:after {
        left: 20px;
        bottom: 26px
    }

    .floating-search_form .cancel_search span {
        display: none
    }

    .woocommerce .woocommerce-body-content {
        padding: 0 15px
    }
}

@media screen and (max-width: 767px) {
    .smoothscroll {
        -webkit-overflow-scrolling: touch
    }

    .site-header, body.home:not(.over_banner) .site-header {
        background-color: #FFF;
        padding: 15px;
        height: 72px
    }

    .site-header .main_logo img, .site-header .main_logo svg, body.home:not(.over_banner) .site-header .main_logo img, body.home:not(.over_banner) .site-header .main_logo svg {
        width: 96px;
        height: 42px
    }

    .site-header .main_logo img path, .site-header .main_logo svg path, body.home:not(.over_banner) .site-header .main_logo img path, body.home:not(.over_banner) .site-header .main_logo svg path {
        fill: #222
    }

    .site-header .main-navigation.header_menu, body.home:not(.over_banner) .site-header .main-navigation.header_menu {
        width: 100%;
        padding-top: 90px
    }

    .site-header .main-navigation.header_menu ul.menu, body.home:not(.over_banner) .site-header .main-navigation.header_menu ul.menu {
        max-height: 300px;
        padding-bottom: 24px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch
    }

    .site-header .main-navigation.header_menu li a.has-sub.active-sub ~ ul.sub-menu, body.home:not(.over_banner) .site-header .main-navigation.header_menu li a.has-sub.active-sub ~ ul.sub-menu {
        display: block;
        max-height: 200px;
        padding: 10px 0;
        margin-bottom: 10px
    }

    .site-header .main-navigation.header_menu li ul.sub-menu, body.home:not(.over_banner) .site-header .main-navigation.header_menu li ul.sub-menu {
        position: relative;
        top: auto;
        background-color: #555;
        opacity: 1;
        left: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        margin-bottom: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0
    }

    .site-header .main-navigation.header_menu li ul.sub-menu li, body.home:not(.over_banner) .site-header .main-navigation.header_menu li ul.sub-menu li {
        padding: 0
    }

    .site-header .main-navigation.header_menu li ul.sub-menu a, body.home:not(.over_banner) .site-header .main-navigation.header_menu li ul.sub-menu a {
        padding: 0 30px
    }

    .site-header .nav_toggler, body.home:not(.over_banner) .site-header .nav_toggler {
        top: -4px;
        left: 15px
    }

    .site-header .nav_toggler span, .site-header .nav_toggler span:after, .site-header .nav_toggler span:before, body.home:not(.over_banner) .site-header .nav_toggler span, body.home:not(.over_banner) .site-header .nav_toggler span:after, body.home:not(.over_banner) .site-header .nav_toggler span:before {
        background-color: #222
    }


    .floating-search_form {
        padding: 24px
    }

    .floating-search_form .search_form_wrapper {
        padding-top: 16px
    }

    .floating-search_form .search_form_wrapper label {
        width: calc(100% - 58px)
    }

    .floating-search_form .search-field {
        padding: 16px 0;
        font-size: 16px
    }

    .floating-search_form .search_submit {
        width: 58px;
        height: 58px;
        background-size: 20px auto
    }

    #content, body:not(.home) #content {
        padding-top: 72px
    }

    .page_builder_inner_content > .vc_row.main_categories .wpb_wrapper {
        text-align: center;
        font-size: 0
    }

    .page_builder_inner_content > .vc_row.main_categories .wpb_wrapper .single_cat {
        width: calc(50% - 7.5px);
        height: 60vw;
        display: inline-block;
        float: none;
        text-align: left
    }

    .page_builder_inner_content > .vc_row.main_categories .wpb_wrapper .single_cat .single_cat_info {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        background-color: transparent;
        background-image: -webkit-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 100%);
        background-image: -o-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 100%);
        background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 100%);
        top: auto;
        bottom: 0;
        height: auto;
        padding: 8px 12px;
        padding-top: 16px
    }

    .page_builder_inner_content > .vc_row.main_categories .wpb_wrapper .single_cat .single_cat_info .single_cat_desc {
        display: none
    }

    .page_builder_inner_content > .vc_row.main_categories .wpb_wrapper .single_cat .single_cat_info .single_cat_title {
        margin-bottom: 0;
        font-size: 12px
    }

    .page_builder_inner_content > .vc_row.main_categories .wpb_wrapper .single_clicker {
        opacity: 0
    }

    .page_builder_inner_content > .vc_row.main_categories .wpb_wrapper .single_clicker:after {
        display: none
    }

    .page_builder_inner_content .home_testimonial_list {
        max-width: none;
        margin-left: -10px;
        margin-right: -10px;
        white-space: nowrap;
        overflow-x: auto;
        padding-left: calc((100vw - 290px) / 2);
        -webkit-overflow-scrolling: touch
    }

    .page_builder_inner_content .home_testimonial_list li {
        max-width: 290px;
        margin-bottom: 32px;
        display: inline-block;
        float: none;
        white-space: normal
    }

    .page_builder_inner_content .home_testimonial_list li:last-child {
        margin-right: calc((100vw - 290px) / 2)
    }

    .featured_portfolio .section_title, .home_testimonial .section_title {
        margin-bottom: 1em
    }

    .featured_portfolio .featured_portfolio_list {
        width: 100vw;
        overflow-x: auto;
        white-space: nowrap;
        font-size: 0;
        margin-left: -7px;
        padding-left: 20px;
        -webkit-overflow-scrolling: touch
    }

    .featured_portfolio .featured_portfolio_list .single_featured_portfolio {
        float: none;
        display: inline-block;
        opacity: 1
    }

    .featured_portfolio .featured_portfolio_pag, .featured_portfolio .slider_btn {
        display: none
    }

    #main-footer {
        padding-top: 24px
    }

    #main-footer .footer_menu_block {
        margin-top: 32px
    }

    #main-footer .footer_menu_block .footer_menu_list {
        font-size: 12px
    }

    #main-footer .wpb_column.vc_column_container.vc_col-sm-5 .wpb_single_image.wpb_content_element.vc_align_left {
        margin-bottom: 24px
    }

    #main-footer .wpb_column.vc_column_container.vc_col-sm-5 .footer_socials {
        margin-left: -8px
    }

    #main-footer .wpb_column.vc_column_container.vc_col-sm-5 .footer_socials:after {
        display: none
    }

    #main-footer .wpb_column.vc_column_container.vc_col-sm-2 {
        width: 50%;
        float: left
    }


    .archive-content .site-sidebar, .single-content .site-sidebar {
        float: none !important;
        width: auto;
        height: auto !important;
        margin-right: -10px;
        margin-left: -10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 24px;
        border-top: 1px solid #eee;
        margin-top: 32px
    }

    .archive-content .site-sidebar .widget-area, .archive-content .site-sidebar .widget-area.unfixed, .single-content .site-sidebar .widget-area, .single-content .site-sidebar .widget-area.unfixed {
        position: relative;
        width: auto !important;
        bottom: auto
    }

    .archive-content .site-sidebar .widget, .single-content .site-sidebar .widget {
        padding-right: 0
    }

    .archive-content .col-8.site-main, .archive-content .col-9.site-main, .single-content .col-8.site-main, .single-content .col-9.site-main {
        float: none !important;
        box-shadow: none;
        margin-bottom: 0
    }

    .archive-content .page-header, .single-content .page-header {
        padding: 0 15px
    }

    .archive-content .archive-description, .single-content .archive-description {
        font-size: 12px
    }

    .archive-content .body_block.post_block.archive_block, .single-content .body_block.post_block.archive_block {
        padding: 0 20px;
        padding-top: 20px;
        margin-left: -20px;
        margin-right: -20px;
        margin-top: 20px
    }

    .archive-content .body_block.post_block.archive_block:before, .single-content .body_block.post_block.archive_block:before {
        display: none
    }

    .archive-content .body_block.post_block.archive_block .archive-post-thumbnail, .single-content .body_block.post_block.archive_block .archive-post-thumbnail {
        float: none;
        width: auto;
        margin-right: 0;
        margin-bottom: 12px
    }

    .archive-content .body_block.post_block.archive_block .archive-post-title, .single-content .body_block.post_block.archive_block .archive-post-title {
        font-weight: normal
    }

    .archive-content .body_block.post_block.archive_block .entry.archive-entry:not(.short-excerpt), .single-content .body_block.post_block.archive_block .entry.archive-entry:not(.short-excerpt) {
        display: none
    }

    .archive-content .body_block.post_block.archive_block .entry.archive-entry.short-excerpt, .single-content .body_block.post_block.archive_block .entry.archive-entry.short-excerpt {
        display: block;
        font-size: 12px;
        color: #555
    }

    .archive-content.single-content article.post, .single-content.single-content article.post {
        padding-left: 0;
        margin-left: auto
    }

    .archive-content.single-content .entry-title, .single-content.single-content .entry-title {
        font-size: 18px;
        margin-bottom: 12px
    }

    .archive-content.single-content .meta.post-time, .single-content.single-content .meta.post-time {
        margin-left: auto;
        padding-left: 0;
        padding-bottom: 12px;
        margin-bottom: 16px
    }

    .archive-content.single-content .entry-content img.aligncenter, .single-content.single-content .entry-content img.aligncenter {
        width: 100%;
        height: auto !important
    }

    .related_posts {
        white-space: nowrap;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 5px;
        overflow: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .related_posts .related_post {
        float: none;
        width: 75%;
        display: inline-block;
        white-space: normal;
        vertical-align: top;
        padding-right: 0
    }

    .related_posts .related_post:last-child {
        padding-right: 20px
    }

    .about_page_wrap {
        height: auto;
        margin-bottom: 20px
    }

    .about_page_wrap .about_hero h1 {
        font-size: 18px;
        margin-bottom: 20px
    }

    .about_page_wrap .about_hero > .wpb_column.vc_column_container.vc_col-sm-6:first-child {
        max-width: 100%;
        width: 100%;
        float: none;
        position: relative;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        padding-top: 60px;
        margin-bottom: 30px
    }

    .about_page_wrap .about_hero > .wpb_column.vc_column_container.vc_col-sm-6:first-child + .wpb_column.vc_column_container.vc_col-sm-6 {
        display: none
    }

    .about_page_wrap ~ .vc_row.vc_row-fluid {
        padding: 0 30px
    }

    .featured_brands .vc_grid.vc_row.vc_grid-gutter-5px .vc_grid-item {
        float: left;
        width: 50%
    }
    .absolute_mobile{
        position: absolute;
    }
    .desktop{
        display: none;
    }
    .show-search .form_search{
        float: unset;
        animation: 0.3s all ease-in;
    }
    .show-search .logo_header ,  .show-search .nav_toggler{
        height: 0;
        width: 0;
        overflow: hidden;
        display: none;
       animation: slide 1s ease 3.5s forwards;
    }
    .menu-overlay {
        display: none;
        background-color: #000;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        filter: alpha(opacity=50);
        position: fixed;
        right: 0;
        top: 72px;
        z-index: 3;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
}

@media screen and (max-width: 413px) {
    .site-header .main-navigation.header_menu, body.home:not(.over_banner) .site-header .main-navigation.header_menu {
        padding-top: 58px
    }

    .site-header .main-navigation.header_menu ul.menu, body.home:not(.over_banner) .site-header .main-navigation.header_menu ul.menu {
        max-height: 248px;
        padding-bottom: 16px
    }
}

@media screen and (max-width: 413px) and (orientation: landscape) {
}

@media screen and (min-width: 780px) {
    div.support_sm {
        display: none
    }
}
