a, a:hover {
	color: #000;
}
.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
}
hr {
	margin-top: 40px;
    margin-bottom: -40px;
    border: 0;
    border-top: 10px solid #eee;
}
body{
	background-color: #FFF;
}
.img-responsive {
  width: 100%;
}
.text-orange {
	color: #f7811d;
}
.text-black {
	color: #555;
}
/*----------------------*/
.container{
	/*padding-left: 0px;
	padding-right: 0px;*/
}
.top {
	/*min-height: 300px;*/
}
.slogan {
	min-height: 80px;
}
.logo {
	min-height: 120px;
}
.text1 {
	color: #f7811d;
	font-weight: bold;
}
.text2 {
	color: #FF0000;
	font-weight: bold;
}
.bg-grey {
	background-color: #e9ebee;
}
.bg-white {
	background-color: #FFF;
}
.cursor{
  cursor: pointer;
}
/*----------------------*/

/*----------------------*/
.navbar-nonpadding {
	padding-left: 0px;
	padding-right: 0px;
}
.navbar {
	margin-bottom: 0px;
}
.navbar .container, .navbar-collapse {
    padding-left:0;
}
.navbar-collapse.in {
    padding-left:30px;
}
.navbar-collapse {
	padding-right: 30px;
}
/*----------------------*/
.navbar-default {
  background-color: #f7811d;
  border-color: #f7811d;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #fab67c;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #fab67c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #fab67c;
}
.navbar-default .navbar-toggle {
  border-color: #fab67c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fab67c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #f7811d;
  }
}
/*-------------------------------*/
/* To Dropdown navbar dropdown on hover */
.navbar-nav > li:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*-------------------------------*/
.carousel-control.left, .carousel-control.right {
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
	color: #FFF;
}
.carousel-indicators .active {
	background-color: #f7811d;
}

/*-------------BLOCK1------------------*/
.wrapper1 {
	padding-bottom: 30px;
}
.article {
	background-color: #f2f2f2;
}
.block1 {
	margin-top: 30px;
	padding-bottom: 30px;
}
.slogan2 {
	color: #337ab7;
    font-size: 1.2em;
}
.project1 {
	background-color: #FFF;
	padding-bottom: 10px;
    margin-bottom: 10px;
}
.project1 a{
	color: #337ab7; 
	transition: all 0.3s ease-out;
	display: block;
}
.project1 a:hover{
	text-decoration: none;
	/*color: #f7811d;*/
	transition: all 0.3s ease-out;
}	
.project1 a img {
	padding-bottom: 10px;
}
.project1 a p {
	margin-bottom: 5px;
	margin-left: 10px;
}

.project2 {
	background-color: #FFF;	
	padding-bottom: 10px;
}
.project2 a{
	color: #337ab7; 
	transition: all 0.3s ease-out;
}
.project2 a:hover{
	text-decoration: none;
	/*color: #f7811d;*/
	transition: all 0.3s ease-out;
}
.project2 a img {
	padding-bottom: 10px;
}
.project2 a p {
	margin-bottom: 5px;
	margin-left: 10px;
}
.project3 {
    min-height: 225px;
    margin-bottom: 15px;
}
.a1 {
    padding-right: 0px;
}
.a2 {
	padding-left: 0px;
    padding-right: 0px;
}
.a2-1 {
    padding-right: 5px;
}
/*------------BLOCK2-----------------*/
.warapper2 {
	/*padding-bottom: 50px;*/
    /*margin-bottom: 30px;*/
}
.block2 {
	margin-top: 30px;
	padding-bottom: 10px;
}
.block2-1 {
    padding-bottom: 15px;
}
.btn-radius {
	border-radius: 90px;
	padding: 10px 20px 10px 20px;
}
.btn-radius-o {
	border-radius: 90px;
	padding: 10px 20px 10px 20px;
}
.caption-item {
	margin-top: 10px;
}
.price {
	color: #FF0000;
	font-size: 1.4em;
    font-weight: bold;
}
.products a {

}
.products a:hover {
	text-decoration: none;
}
/*---------------BLOCK3--------------------*/
.wrapper3 {
	padding-bottom: 50px;
    margin-bottom: 30px;
}
.block3 {
	padding-bottom: 30px;
}
.posts {
	padding-bottom: 15px;
}
.posts a {
	color: #337ab7; 
}
.post-title {
	padding-left: 5px;
}

/*-----------------------------------------*/

/*@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);*/
.col-item
{
    border: 1px solid #E1E1E1;
    background: #FFF;
}
.col-item-post {
    height: 470px;
}
.col-item-1 {
	/*margin-bottom: 20px;*/
	transition: all 0.3s linear;
}
.col-item-1:hover {
	border:1px solid #f7811d;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

/*.col-item:hover .info {
    background-color: #FFF;
}*/
.col-item 
{
    float: left;
    margin-top: 5px;
    
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.title-text-color
{
	margin-top: 5px;
  color: #219FD1;
  height: 61px;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.col-item a {
	display: block;
}
.col-item a:hover {
	text-decoration: none;
}
.controls
{
    margin-top: 0px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
.carousel-edit {
	padding-left: 15px;
    padding-right: 15px;
}
.b1 {
	margin-left: 20px;
}
.b2 {
	margin-right: 20px;
}
.c1 {
	margin-left:0px;
}
.product-other {
	padding-bottom: 10px;
}
.title-footer {
	border-bottom: 2px solid #9e276b;
	padding-bottom: 10px;
}
.flag {
	margin-top: -10px;
}

.flag-item{ 
    height: 100px;
    width: 0px;
    border-left: 45px solid #a7236b;
    border-right: 45px solid #a7236b;
    border-bottom: 39px solid transparent;
}
.subscribe {
	background: #FFF;
	padding: 35px 0 35px 0;
}
.subscribe-title h3 {
	margin-top:0px;
	padding: 5px;
    border-bottom: 1px solid #f7801e;
    color: #f7801e;
}
.bottom-site {
	padding-top: 20px;
}
.poro-item {
    background-color: #FFF;
    padding-bottom: 5px;
    margin-bottom: 10px;
    
}
.poro-item a {
	transition: all 0.3s ease-out;
}
.poro-item a:hover {
	text-decoration: none;
	color: #f7811d;
	/*transition: all 0.3s ease-out;*/
}
.poro-caption {
	padding-top: 10px;
  height: 50px;
}
.galley-item {
    padding: 5px;
}

#toTop{
    position: fixed;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
    display: none;
    z-index: 999;
    background-color: #f7811d;
    color: #FFF;
}
.footer-contact {
	padding: 10px;
}
.title-contact, .title-galley-text {
	padding-bottom: 5px;
	border-bottom: 2px solid #f7811d;
}
/*-------------PAGE---------------------*/
.non-padding {
	padding: 0px;
}
.title-page {
	border-bottom: 1px solid #f7801e;
}
.page-content {
	padding: 5px;
	/*border-bottom: 1px solid #f77f1f;*/
}
.panel {
    box-shadow: none;
}

.panel-orange {
	border-color: #f7811d;
}
.panel-orange>.panel-heading {
	color: #fff;
    background-color: #f7811d;
    border-color: #f7811d;
}
.panel-transparent {
    border-color: #f7811d;
}
.panel-transparent > .panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    text-transform: uppercase;
}
.panel-transparent  a.list-group-item {
    color: #555;
}
.panel-transparent .list-group-item.active {
    color: #FFF;
}
.title {
	margin-top: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid #f7801e;
}
.items1 {
	padding-bottom: 20px;
}
.adsItem {
	display: block;
	margin-bottom: 20px;
}
.adsItem a{
    border:1px solid transparent;
    display: block;
    transition: all 0.4s linear;
}
.adsItem a:hover{
    border-color:#f7801e;
}
.detail-product-image {
	margin-bottom: 20px;
}
.image-product {
    margin-bottom: 15px;
}
.thumbnail-product-item {
	display: inline-block;
	margin-bottom: 5px;
	cursor: pointer;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel-deproduct {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control-deproduct {
	left: -12px;
}
.carousel-control-deproduct.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators-deproduct {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators-deproduct li {
	background: #c0c0c0;
}
.carousel-indicators-deproduct .active {
background: #333333;
}
.title-product {
    border-bottom: 1px solid #f7801e;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.price-detail {
	color: #fa0f0f;
}
.info-product {
    padding-left: 10px;
    padding-bottom: 10px;
	  border-bottom: 1px solid #f7801e;
}
.contact-product {
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f7801e;
}
.calculator-product {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.list-color {
    /*margin: 0 0 40px;*/
}
.color-title {
    /*position: absolute;*/
}
.color-title a:hover {
	text-decoration: none;
}
.color-p {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    left: 60px;
}
.black {
	background: #000;
}
.blue {
	background: #74ccff;
}
.orange {
	background: #ff7373;
}
.purple {
	background: #20156e;
}
.tags-product:hover {
	text-decoration: none;
}
.carousel-detail-product {
	top: -20px;
}
.full-content {
	margin-top: 20px;
}
.tab-content {
    padding: 10px;
}
.text-author, .text-short {
	color: #777;
}
.contact-icon {
    border: 1px solid #333;
    border-radius: 50px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    float: left;
}
.contact-address {
    padding-left: 60px;
}
.contact-address h5 {
	color: #333;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.contact-address > span {
	font-size: 15px;
}
.contact-info-area li {
    margin-bottom: 25px;
    list-style: none;
}
.contact-product > h3{
	color: #FF0000;
}
.pagination>li>a, .pagination>li>span {
	color:#333;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #f7801e;
    border-color: #f77f1f;
}
.control-slide-product {
    right: 13px;
    position: absolute;
    top: 5px;
    color: #777;
    font-size: 17px;
}
.control-slide-product a {
    color: #777;
}
.control-slide-product a:hover, .control-slide-product a:focus {
    text-decoration: none;
}
.media-heading a {

}
.media-heading a:hover{
    text-decoration: none;
}




/*----------LOADING-----------------------------*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #f7811d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #f7811d, 0 0 5px #f7811d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #f7811d;
  border-left-color: #f7811d;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.caption_project1 {
  height: 40px;
}
.content-hover {
    position: absolute;
    bottom: -75px;
    /* right: 16px; */
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 0px 10px 0px 10px;
    /* margin-bottom: 20px; */
    transition: all 0.2s;
}
.content-hover h3 {
  font-size: 18px;
}
.content-hover-other {
  position: absolute;
  bottom: 10px;
  /* right: 16px; */
  background: rgba(0, 0, 0, 0.29);
  color: #f1f1f1;
  width: 100%;
  padding: 0px 10px 0px 10px;
  /* margin-bottom: 20px; */
  transition: all 0.2s;

}
.content-hover-other h3 {
  font-size: 18px;
}
.page-class {
  position: relative;
}
.page-class:hover .content-hover{
  animation: hoverbottom 0.2s;
  bottom: 0px;
}
@keyframes hoverbottom{
  from{
    bottom: -75px;
  }
  to{
    bottom: 0px;
  }
}
.col-item-page {
  height: 415px;
}